<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>
        <div class="collaps navbar-collaps">
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#" (click)="onSelect('recipe')">recipes</a></li>
                <li><a href="#" (click)="onSelect('shopping-list')">shopping-list</a></li>
            </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" appDropdown>
                <a href="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">save data</a></li>
                <li><a href="#">fetch data</a></li>
            </ul>
            </li>
        </ul>
    </div>
</nav>